[submodule "src/vim/bundle/ack"]
	path = src/vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "src/vim/bundle/color-sampler"]
	path = src/vim/bundle/color-sampler
	url = http://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "src/vim/bundle/indent-object"]
	path = src/vim/bundle/indent-object
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "src/vim/bundle/javascript"]
	path = src/vim/bundle/javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "src/vim/bundle/nerdtree"]
	path = src/vim/bundle/nerdtree
	url = http://github.com/wycats/nerdtree.git
[submodule "src/vim/bundle/surround"]
	path = src/vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "src/vim/bundle/supertab"]
	path = src/vim/bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "src/vim/bundle/rails"]
	path = src/vim/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "src/vim/bundle/rspec"]
	path = src/vim/bundle/rspec
	url = http://github.com/taq/vim-rspec.git
[submodule "src/vim/bundle/snipmate"]
	path = src/vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "src/vim/bundle/unimpaired"]
	path = src/vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "src/vim/bundle/endwise"]
	path = src/vim/bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "src/vim/bundle/command-t"]
	path = src/vim/bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule "src/vim/bundle/nerdcommenter"]
	path = src/vim/bundle/nerdcommenter
	url = http://github.com/ddollar/nerdcommenter.git
[submodule "src/vim/bundle/textobj-user"]
	path = src/vim/bundle/textobj-user
	url = http://github.com/kana/vim-textobj-user.git
[submodule "src/vim/bundle/textobj-rubyblock"]
	path = src/vim/bundle/textobj-rubyblock
	url = http://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "src/vim/bundle/repeat"]
	path = src/vim/bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "src/vim/bundle/transmit"]
	path = src/vim/bundle/transmit
	url = http://github.com/pbyrne/transmit-vim.git
